*~
INSTALL
Makefile.in
aclocal.m4
autom4te.cache
configure
build-aux/compile
build-aux/config.guess
build-aux/config.rpath
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/mdate-sh
build-aux/missing
build-aux/test-driver
build-aux/texinfo.tex
build-aux/ylwrap
gnulib-po/Makefile.in.in
gnulib-po/Makevars.template
gnulib-po/remove-potcdate.sin
lib/config.in.h
m4/extern-inline.m4
m4/glibc2.m4
m4/glibc21.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intmax.m4
m4/lcmessage.m4
m4/printf-posix.m4
m4/uintmax_t.m4
m4/visibility.m4
po/Makevars.template
po/Makefile.in.in
runtime-po/Makefile.in.in
runtime-po/Makevars.template
