INSTALL
Makefile.in
aclocal.m4
autom4te.cache
configure
build-aux/compile
build-aux/config.guess
build-aux/config.rpath
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/mdate-sh
build-aux/missing
build-aux/test-driver
build-aux/texinfo.tex
build-aux/ylwrap
po/Makefile.in.in
runtime-po/Makefile.in.in
